.FrontPage {
    display: flex;
    flex-direction: row;
}

.FrontPage .TopStorySnippet {
    width: 66%;
}

.FrontPage-ArticleDiv {
    border-top: none;
    border-left: 1px solid var(--darkgray);
    padding-left: 2.5%;
    margin-left: 2.5%;
    width: 33%;
}

@media (max-width: 1000px) {
    .FrontPage {
        flex-direction: column;
    }

    .FrontPage .TopStorySnippet {
        width: 100%;
    }

    .FrontPage-ArticleDiv {
        border-top: 1px solid var(--darkgray);
        border-left: none;
        padding-left: none;
        margin-left: none;
        width: 100%;
    }
}
