.Footer {
    margin-top: 75px;
}

.Footer-NavLinksWrapper {
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Footer-NavLink {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: 0.5px solid underline var(--eggshell);
    transition: text-decoration 0.2s ease-in-out;
    white-space: nowrap;
    margin: 7px;
}

.Footer-NavLink:hover {
    text-decoration: 2px solid underline var(--blue);
}
