.TopStorySnippet-SplashImgWrapper {
    width: calc(100% - 15px);
    height: 600px;
    margin-top: -30px;
    overflow: hidden;
    box-shadow: var(--box-shadow-offset) var(--box-shadow-offset) 0 var(--blue);
    background-image: url("../_Assets/blazerFit.png");
    background-repeat: no-repeat;
    background-position: right 50% bottom 80%;
    background-size: cover;
}

.TopStorySnippet-Header {
    margin-top: 65px;
}

.TopStorySnippet-Tags {
    margin: 0;
    color: var(--lightgray);
}

.TopStorySnippet-PreviewText {
    color: var(--darkgray);
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.75rem * 3); /* line-height * # of lines */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* line-clamp must match # of lines */
}

.TopStorySnippet-ReadMoreLink {
    margin-left: 10px;
    font-size: 10pt;
    display: block;
    text-align: right;
    margin-bottom: 40px;
}

.TopStorySnippet-Emoji {
    margin-bottom: -5px;
}
