* {
    box-sizing: border-box;
}

:root {
    --blue: #4f9fc4;
    --yellow: #e6be6e;
    --purple: #deafd9;
    --teal: #4fc4b9;
    --pink: #e386a6;
    --eggshell: #fffaf7;
    --darkgray: #303030;
    --lightgray: #787878;
    --sans-serif: "synthese", sans-serif;
    --mono-font: "Fira Code", monospace;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--eggshell);
    font-family: var(--sans-serif);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.Mono {
    font-family: var(--mono-font);
    letter-spacing: 2px;
    text-transform: lowercase;
}

a {
    color: var(--blue);
}
