* {
    box-sizing: border-box;
}

:root {
    --blue: #4f9fc4;
    --yellow: #e6be6e;
    --purple: #deafd9;
    --teal: #4fc4b9;
    --pink: #e386a6;
    --eggshell: #fffaf7;
    --darkgray: #303030;
    --lightgray: #787878;
    --sans-serif: "synthese", sans-serif;
    --mono-font: "Fira Code", monospace;
    --box-shadow-offset: 15px;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--eggshell);
    font-family: var(--sans-serif);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

a {
    color: var(--blue);
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 35pt;
    font-weight: 500;
    margin: 20px 0 15px 0;
    line-height: 100%;
}

h2 {
    font-size: 25pt;
    font-weight: 500;
    margin: 0px 0 10px 0;
    line-height: 100%;
}

.Emoji {
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.Mono {
    font-family: var(--mono-font);
    letter-spacing: 2px;
    text-transform: lowercase;
}

.BodyText {
    line-height: 1.75rem;
    font-weight: 300;
}
